.product-card {
  text-align: center;
  margin-top: 50px;
}

.prods {

  margin-bottom: 100px;
}

.product-card select {
  display: block;
  margin: 0 auto;
  width: 100px;
  margin-bottom: 10px;
}

.product-card input {
  width: 100px;
  margin-top: 10px;
  font-size: 13px;
}

.product-card img {
  height: 250px;
  border-radius: 10px;
}
.product-card a{
  display: block;
  text-decoration: none;
}
.product-card a span {
  font-size: 24px;
  font-weight: 800;
}
