/* img {
  width: 100px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
} */

img {
  width: 100px;
  border-radius: 10px;

}
.product-cart{
  display: flex;
  justify-content: space-around;
margin-top: 20px;
}
.prods{
margin-top: 50px;
}
.product-cart h5{
  display: inline;
}
.product-cart input{
  width: 120px;
}
.user-data{
  margin-top: 50px;
}
.sub-btn{
  margin-top: 20px;
}
label{
  margin-top: 20px;
}
.no-products{
  text-align: center;
  margin-top: 50px;
  background-color: #fb4343;
  height: 80px;
  padding:20px
}
