<div class="container">
  <div class="row" *ngIf="cartProducts.length > 0; else elseblock">
    <div class="col-6">
      <div class="row prods">
        <div class="col-12" *ngFor="let item of cartProducts">
          <div class="product-cart">
            <a routerLink="/"><img src="{{ item.url }}" alt="this is img" /></a>
            <div class="details">
              <h4>{{ item.name }}</h4>
              <p>{{ item.price }}</p>
              <h5>Amount:</h5>
              <input
                type="number"
                min="1"
                [(ngModel)]="item.quantity"
                (ngModelChange)="changeQuantity()"
              />
              <button class="btn btn-danger" (click)="removeCartItem(item.id)">
                remove from cart
              </button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h2>Total price = {{ totalPrice }}</h2>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="user-data">
        <!-- <input type="text" [(ngModel)]="fullName" />
        <h2>{{fullName}}</h2> -->
        <form #form="ngForm" (ngSubmit)="submitAction()">
          <div class="form-group">
            <label for="fullNameInput">Full name</label>
            <input
              type="text"
              class="form-control"
              name="fullName"
              [(ngModel)]="fullName"
              #fName="ngModel"
              id="fullNameInput"
              placeholder="Enter Full Name"
              required
              minlength="6"
            />
          </div>
          <!-- Error massages -->
          <div *ngIf="fName.invalid && fName.dirty">
            <div *ngIf="fName.errors?.['required']">Name is required</div>
            <div *ngIf="fName.errors?.['minlength']">
              The name must contain at least 6 characters
            </div>
          </div>
          <div class="form-group">
            <label for="addressInput">Address</label>
            <input
              type="text"
              class="form-control"
              name="address"
              [(ngModel)]="addr"
              id="addressInput"
              placeholder="Enter your Address"
              required
              minlength="5"
              #Address="ngModel"
            />
          </div>
          <div *ngIf="Address.invalid && Address.dirty">
            <div *ngIf="Address.errors?.['required']">Name is required</div>
            <div *ngIf="Address.errors?.['minlength']">
              The Address must contain at least 5 characters
            </div>
          </div>
          <div class="form-group">
            <label for="criditInput">Cridit Card</label>
            <input
              type="text"
              class="form-control"
              id="criditInput"
              placeholder="xxxxxxxxxxxxxxxxxxxxxxxx"
              name="cridit"
              [(ngModel)]="cridit"
              required
              minlength="16"
              #Cridit="ngModel"
            />
          </div>
          <div *ngIf="Cridit.invalid && Cridit.dirty">
            <div *ngIf="Cridit.errors?.['required']">Name is required</div>
            <div *ngIf="Cridit.errors?.['minlength']">
              The cridit number must contain at least 16 characters
            </div>
          </div>
          <input
            type="submit"
            value="Submit"
            class="btn btn-primary sub-btn"
            [disabled]="form.invalid"
          />
        </form>
      </div>
    </div>
  </div>
  <ng-template #elseblock>
    <div class="no-products" #elseblock>
      <h3>there is no products to show</h3>
    </div>
  </ng-template>
</div>
