
<div class="container">
  <div class="row prods" >
    <div class="col-4" *ngFor="let product of products">
      <div class="product-cart">
        <a routerLink="/"><img src="{{product.url}}" alt="this is img"></a>
        <h4>{{product.name}}</h4>
        <p>{{product.price}}</p>
        <select [(ngModel)]="quantity">
          <option>1</option>
          <option>2</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
        </select>
        <input type="button" class="btn btn-primary" value="Add To Cart" (click)="addToCart(product)" >
      </div>
    </div>
  </div>
</div>
